#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color-alpha));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--react-color-alpha));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.main-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 60px;
  margin-top: 48px;
}

.container-body {
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 24px;
}
.container-head {
  padding-bottom: 12px;
}
