:root {
  --primary-color: rgb(5, 5, 5);
  --secondary-color: #f7f7f7;
  --color-grey: #262829;
  --background-dark: rgba(36, 36, 36, 0.05);
  --background-strong-dark: rgba(36, 36, 36, 1);
  --background-super-dark: rgb(21, 21, 21);
  --background-light: #e6e6e6;
  --warning: rgb(255, 213, 0);
  --error: rgb(156, 16, 0);
  --success: rgb(179, 255, 0);
  --published: rgb(179, 255, 0);
  --unpublished: grey;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-strong-dark);
  margin: 0;
}
html,
body {
  height: 100%;
}
a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

Button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--background-super-dark);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  max-height: max-content;
}

Button:hover {
  border-color: var(--primary-color);
}

Button:focus,
Button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-grey);
    background-color: var(--background-light);
  }

  a:hover {
    color: var(--primary-color);
  }
  Button {
    background-color: var(--background-dark);
  }
}

.light {
  body {
    color: var(--color-grey);
    background-color: var(--background-light);
  }
  a {
    color: var(--primary-color);
    max-width: max-content;
  }

  a:hover {
    color: var(--primary-color);
  }
  Button {
    background-color: var(--background-dark);
    color: var(--primary-color);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  background-color: inherit;
  color: inherit;
  border: none;
}

img {
  width: 100%;
  height: auto;
}
