.message {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.warning {
  background-color: var(--warning);
}
.success {
  background-color: var(--success);
}
.error {
  background-color: var(--error);
}
