.post-list-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto auto auto;
  gap: 24px;
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.1);
}

.dirty {
  border: 1px solid var(--warning);
}
