.post-status {
  max-width: fit-content;
}
.published {
  background-color: var(--published);
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.unpublished {
  background-color: var(--unpublished);
  color: black;
  padding: 5px;
  border-radius: 5px;
}
